
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Thank you for
    subscribing, you’ll hear from us soon!
</h2>
<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <a href="/Home/index" class="btn btn-secondary btn-block">@Localizer["Home"] <i class="arrow right-arrow"></i></a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "/Home/index";
        }, 10000);
    });
</script>