@{
    ViewData["Title"] = "News";
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">In this issue of Re:news</h6>
                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/news/issue8/story-three.jpg">
                    Printing with purpose
                </a>
                <p class="excerpt">Your newsletter was silkscreened!</p><br>
                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/news/issue8/story-four.jpg">
                    A familiar face returns to Renewal
                </a>
                <p class="excerpt">It’s amazing to see how far a few years can take someone.</p><br>
                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/news/issue8/story-five.jpg">
                    Renewal is thriving because of you
                </a>
                <p class="excerpt">Every day I look around our new home and am amazed at the great things happening.</p><br>
                <!--<div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>A home and hope</h3>
                <div class="news-subheader mb-4">Your contributions have given Wu Xueli a second chance</div>
                <img class="img-fluid story-img" src="~/images/news/issue9/story-1.jpg">
                <figcaption class="figure-caption caption">Thanks to your contributions, Wu Xueli has a new purpose: to live his life positively.</figcaption>
                <p class="clear">Moving the Renewal Center to a new location has been great. But in the shuffle and set up, we unfortunately lost touch with one of our residential job program trainees, Wu Xueli.</p>
                <p>After meeting him, I knew Wu Xueli would truly benefit from learning job skills in our communal setting. He was quiet but eager to learn and was always willing to work hard in the cafe. So, I was heartbroken when he disappeared in the craziness of our move.</p>
                <p>Thankfully, I have good news! Your gifts gave us the resources to search for Wu Xueli. It took a few months, but we found him and he rejoined our residency program.</p>
                <p>This opportunity has been life changing for Wu Xueli. He first came to Shanghai to see the lights of the city, but he ended up living on the streets and was too ashamed to return to his home in Chongqing.</p>
                <p>“I slept in the waiting hall of the railway station and ferry terminal. In the daytime, I would pick up bottles, help assemble temporary stages or any other work I could find,” said Wu Xueli.</p>
                <blockquote>
                    Before I was in the dust, but now I am over the sky.<br><italic>-Wu Xueli</italic>
                </blockquote>
                <p>He came to the center after a homeless friend told him he could get a free meal, a shower, and do his laundry here. Since joining the job program, he’s gotten so much more than that.</p>
                <p>“Before I was like the dust, but now I am over the sky,” he said. “I am very happy because this center and the concepts here have helped me a lot.”</p>
                <p>Now our friend is building confidence and working towards independence. Wu Xueli has you to thank for that. Because of your support, he has found a home and hope in Shanghai.</p>
                <p>“I will live my life positively,” he said.</p>
            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">In this issue of Re:news</h6>
                <p class="excerpt">It’s been seven months since we moved into our new drop-in and residence and training centers, and we love the new spaces!</p>
                <a class="sub-menu-a styled-link" href="#story-2">Moving (and motoring?) forward</a>
                <p class="excerpt">As you read in our cover story, we love our new place. </p>
                <a class="sub-menu-a styled-link" href="#story-3">Printing with purpose</a>
                <p class="excerpt">Your newsletter was silkscreened!</p>
                <a class="sub-menu-a styled-link" href="#story-4">A familiar face returns to Renewal</a>
                <p class="excerpt">It’s amazing to see how far a few years can take someone.</p>
                <a class="sub-menu-a styled-link" href="#story-5">Renewal is thriving because of you</a>
                <p class="excerpt">Every day I look around our new home and am amazed at the great things happening.</p>
            </div>
            <div id="story-2">
                <h2>Renewal is happening in Shanghai</h2>
                <div class="news-subheader">We are helping the marginalized and forgotten thanks to your support</div>
                <p class="mb4"><em>Jimmy McWhinney Executive Director Hanson Ye Operations Director</em></p>
                <p class="clear">Great things are unfolding at the Renewal Center! We just celebrated our first full year in our new location. It’s been a whirlwind filled with new guests, returning friends and great successes.</p>
                <p>As you may remember, we asked for help to purchase a van in our last newsletter. Through many generous gifts, we were able to order it. The new vehicle will allow us to provide a shuttle service from the city center to our drop-in center, meeting a need for our most vulnerable elderly and disabled guests. It’s thanks to your generosity that we could extend this service to a population that is often forgotten in Shanghai.</p>
                <p>We’ve also been able to reconnect with old friends like Wu Xueli (page 1) and ramp up our residential job training program (opposite page). Thank you for being a part of this exciting and life-giving work. It truly makes a difference in so many lives.</p>         
            </div>
            <!--<div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>-->
            <div class="story-3">
                <h2>The Friend Network</h2>
                <div class="news-subheader">Your gifts give hardworking homeless people a place to clean up</div>
                <img class="img-fluid story-img" src="~/images/news/issue9/story-3.jpg">
                <figcaption class="figure-caption caption">Zhou Guoqiang enjoys a hot bowl of noodles during one of his weekly visits.</figcaption>             
                <p class="clear">It’s not surprising that free showers, clothes, and food are a popular topic of conversation among Shanghai’s homeless. That’s how Zhou Guoqiang, a 49-year-old man from Jiangsu Province, heard about our drop-in center.</p>
                <p>“I spent all of my money and lost my ID and couldn’t find a job,” he told us.</p>
                <p>Zhou Guoqiang couldn’t believe that we really welcomed the homeless, but visited the center in 2011 and has been a guest ever since.</p>
                <p>“A lot of very dirty people came here to take showers. I was very surprised,” said Zhou Guoqiang.</p>
                <p>Resourceful and hard-working, he does fairly well collecting recyclables to sell. Even so, he can’t afford to rent a room. That’s why Zhou Guoqiang is grateful he can come each week to take a shower and to get a change of clothes.</p>
                <p>These services are only available because of your generosity. Without the drop-in center, Zhou Guoqiang said, “I would feel desperate when times get hard.”</p>
                <p>Smart, polite, and hardworking, he wants to open his own small business one day. We hope he’ll join our job training program when he’s ready!</p>
                <p>Until then, Zhou Guoqiang is among the many guests for whom we can provide basic life needs. As winter approaches, there will be even more homeless coming for help. Every dollar you give enables us to keep providing these vital services.</p>  
                </div>
            <div class="story-4">
                <h2>Purposeless to purposeful</h2>
                <div class="news-subheader">Our job training program gives people a fresh start</div>
                <img class="img-fluid story-img" src="~/images/news/issue9/story-4.jpg">
                <figcaption class="figure-caption caption">Your gifts have given Yang Qin the confidence to find a job on his own.</figcaption> 
                <p class="clear">Yang Qin came to Shanghai looking for work and escaping a difficult home life in Hubei Province. Months passed and he couldn’t a find a job. Then he ran out of money and options.</pclass="clear">
                <p>“I wandered around during the day. At night, I’d sleep any place I could find,” said Yang Qin.</p>
                <p> He came to the Renewal Center hoping we could help him find work. When he found out about our residential job program, he knew it was a way to get his life back on track.</p>
                <p> Now, said Yang Qin, “Without this place, my difficulties would have taken years to overcome or I might just be homeless forever.”</p>
                <p> When it came time to find a job, Yang Qin took the initiative and found work at a restaurant on Huaihai Road, one of the most posh avenues in our city. We are so proud of Yang Qin. He’s also come a long way with his family.</p>
                <blockquote>
                    Without this place, my difficulties would have taken years to overcome or I might just be homeless forever.<br><italic>-Yang Qin</italic>
                </blockquote>
                <p> “I’d like to work for two years and then start some kind of small business or sell vegetables,” he said. “I’d like to make some money and return home and build a house.”</p>
                <p> Yang Qin has found purpose as he has learned important job skills.</p>
                <p>Your donations have also helped Wei Jiazhen make a fresh start.</p>
                <p> Unlike most of our guests, Wei Jiazhen grew up in Shanghai, but he felt out of place with his family and ended up aimless and bored. He wasted his days sleeping or hanging out at internet cafes.</p>
                <p> “I did not know how to begin a new life,” he said. That changed when Wei Jiazhen came to the Renewal Center. He wanted food and a shower but found more when he joined the job program. Wei Jiazhen loved the community at the center and liked serving others.</p>
                <p>Recently, he started a job at a teashop. Wei Jiazhen will have a steep learning curve, but he has shown himself to be an intelligent and kind young man.</p>
                <p>These successes are only possible because of your partnership. Thank you for giving Wei Jiazhen and Yang Qin the chance to become productive members of society.</p>
            </div>
            <div class="story-5">
                <h2>Taking stock for winter</h2>
                <div class="news-subheader">Your gifts provide nourishment and warmth to the homeless</div>
                <p>The days are getting shorter and cold here. That means we’re expecting more guests to visit the drop-in center who need clothing to protect them against the freezing temperatures in January and February. Thanks to your gifts, we are beginning to prepare for the busy months ahead, but we still need more help to meet the high demand.</p>
                <p>In some ways, this is our favorite time of year. Guests are more likely to come and stay awhile. This gives us a chance to get to know them. Our volunteers and staff are here to provide basic services, but they’re also here to help us build trust and relationships with our guests.</p>
                <p>These men and women had hard lives even before they ended up on the streets. As they share their stories with us, we develop friendships with them. I can’t tell you how important that is. We want the Renewal Center to be personal and relational because that is the only way we can help our guests live better, healthier lives.</p>
                <p>Although this is a big city, there are hardly any services for homeless people. The drop-in center is the only safe place for many of them. And the more we know about them, the more we can do! Some people are great candidates for our residential job program. Others need help getting medical care or applying for a new ID card. We are able to devote time, attention, and services to these people because of your investment in our work.</p>
                <p>The showers and clothing we provide are the first step to developing relationships with our guests. It’s often damp, drizzling, or downright pouring during Shanghai’s cold winters, so, they may spend days in clammy clothes even as the weather freezes. As you can imagine, socks, shoes, thermal underwear, and coats fly off our shelves.</p>
                <p>Will you help stock our closet during this critical time of year? We are in need of clothing donations from those of you living in Shanghai, and we can always use more financial support to meet winter’s needs. These gifts can mean life and health for our guests. Thank you for considering this need. We are so grateful for all that you do to keep the Renewal Center and our guests thriving!</p>
            </div>
            </div>
    </div>
</div>