@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string email = ViewBag.email;
}


<div class="container">
    <h2>Unsubscribe</h2>
</div>

<div class="container">
    <form>
        <fieldset>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" id="btnUnsubscribe" class="btn btn-secondary" onclick="unsubscribeUser()">@("Unsubscribe [" + email + "] from all emails")</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    function unsubscribeUser() {
        $.ajax({
            url: "/Contact/Unsubscribe",
            data: {
                "email": "@email"
            },
            type: "post",
            datatype: "application/json",
            success: function (result) {
                if (result.status = "1") {
                    $('#message').show();
                    $('#message').text(result.data);
                    setInterval(function () {
                        window.location.href = "/contact/thankyou?id=1";
                    }, 30000);
                }
            }
        });
    };    
</script>