
@{
    ViewData["Title"] = "Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for signing up!</h2>

<h4>Please check your email and click the link provided to confirm your subscription.</h4>
