@model RenewalWebsite.Models.ViewModels.PDFFileViewModel

<div class="row m-t-30">
    <div class="col-md-12 text-center">
        <div class="alert alert-danger m-0">
            <a href="@Model.DownloadLink" target="_blank">
                <span>@Model.FileName</span>
            </a>
        </div>
    </div>
</div>