@model RenewalWebsite.Models.ManageViewModels.CardViewModel
<form asp-controller="Manage" asp-action="UpdateCard" class="form-horizontal" data-ajax="true" data-ajax-method="POST" data-ajax-success="fun_success(this,data,xhr);" data-ajax-failure="fun_fail(this,data,xhr);">
    <fieldset>
        <div asp-validation-summary="All" class="text-danger"></div> 
        <input type="hidden" asp-for="ExpiryYear">
        <input hidden asp-for="cardId" />
        <div class="form-group">
            <label class="col-sm-3 control-label">@Localizer["Card Number"]</label>
            <div class="col-sm-6">
                <input type="text" readonly class="form-control" asp-for="Last4Digit" value="****@Model.Last4Digit" />
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-sm-3 control-label" asp-for="Name"></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label" asp-for="ExpiryMonth">@Localizer["Expiration Date"]</label>
                    <div>
                        <div class="row">
                            <div class="col-3 pr5">
                                <select class="form-control" asp-for="ExpiryMonth">
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-3 pr5">
                                <select class="form-control" id="UpdateExpiryYear" name="UpdateExpiryYear" onchange="setExpiryYear(this)"></select>
                            </div>
                            @*<span asp-validation-for="ExpiryMonth" class="text-danger"></span>
                            <span asp-validation-for="ExpiryYear" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-secondary" />
                <input type="button" value="@Localizer["Delete & Add New Card"]" class="btn btn-secondary" onclick="deleteAddNewCard()" />
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        
        var year = new Date().getFullYear();
        for (var i = 0; i < 10; i++) {
            var value = (year + i).toString();
            var opt = new Option(value, value.slice(-2));
            $('#UpdateExpiryYear').append(opt);
        }

        var value = (year).toString();
        $('#UpdateExpiryYear').val(parseInt(value.slice(-2)));
    });

    function setExpiryYear(item) {
        var selectedVal = parseInt(item.value);
        $('#ExpiryYear').val(selectedVal);
    }

    function fun_success(ele, data, xhr) {
        if (data.status == "1") {
            window.location = "/Manage/Index?message=&tabId=1";
        }
        else {
            $('#textMainMessage').show();
            $('#textMainMessage').removeClass('alert alert-success');
            $('#textMainMessage').addClass('alert alert-danger');
            $('#textMainMessage').text(data.data);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }
    }

    function fun_fail(data) {
        $('#textMainMessage').show();
        $('#textMainMessage').removeClass('alert alert-success');
        $('#textMainMessage').addClass('alert alert-danger');
        $('#textMainMessage').text('Something went wrong, please try again.');
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }

    function deleteAddNewCard() {
        $('#divUpdate').hide();
        $.ajax({
            url: "/Manage/AddNewCard",
            data: {},
            success: function (result) {
                $('#divAdd').show();
                $('#divAdd').html(result);
            }
        });
    };
</script>
