@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using RenewalWebsite.Models
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Localizer["Confirm your Renewal account"];
    ApplicationUser user = await UserManager.GetUserAsync(User);
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p>
            @Localizer["Your email has been confirmed."]
            <a asp-controller="Manage" asp-action="Index">@Localizer["Manage"]</a>
        </p>
    </div>
</div>

