@using RenewalWebsite.Resources
@{
    ViewData["Title"] = DataAnnotations.ResetPasswordConfirmation;
}

<h1>@ViewData["Title"].</h1>
<p>
    @DataAnnotations.YourPasswordReset <a asp-controller="Account" asp-action="Login">@DataAnnotations.ClickHereToLogin</a>.
</p>
