@using RenewalWebsite.Services
@using RenewalWebsite.Resources
@inject ICurrencyService CurrencyService

@{
    var culture = CurrencyService.GetCurrent();
}
<a asp-controller="Localization" asp-action="ToggleCurrency" asp-route-returnUrl="@Context.Request.Path">
    @if (CurrencyService.GetSymbol(culture) == "$")
    {
        <span>@DataAnnotations.DonateAlipay</span>
    }
    else
    {
        <span>@DataAnnotations.DonateUsingCreditDebitCard</span>
    }
</a>