@using System.Threading.Tasks
@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Rendering

@inject ICurrencyService CurrencyService

@{
    var culture = CurrencyService.GetCurrent();
}
<a asp-controller="Localization" asp-action="ToggleCurrency" asp-route-returnUrl="@Context.Request.Path">
    @if (CurrencyService.GetSymbol(culture) == "$")
    {
        <span>@Localizer["Donate using Alipay"]</span>
    }
    else
    {
        <span>@Localizer["Donate using a credit or debit card"]</span>
    }
</a>