<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<title>@Localizer["Renewal"] | @ViewData["Title"]</title>

<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/developer.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href="~/js/jconfirm/jquery-confirm.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/moment-timezone.js"></script>
    <script src="~/js/jquery.creditCardValidator.js"></script>
    <script src="~/js/ccFormat.js"></script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/developer.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" type="text/css">
    <link href="~/js/jconfirm/jquery-confirm.css" rel="stylesheet" />
    <link href="~/lib/selectbox/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/moment-timezone.js"></script>
    <script src="~/js/jquery.creditCardValidator.js"></script>
    <script src="~/js/ccFormat.js"></script>
</environment>